name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Generar changelog
        run: |
          git log $(git describe --tags --abbrev=0)..HEAD --oneline > CHANGELOG_AUTO.md
      - name: Crear release en GitHub
        uses: softprops/action-gh-release@v2
        with:
          body_path: CHANGELOG_AUTO.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
